---
import { titleCase } from "title-case";
import PageLayout from "@/layouts/PageLayout.astro";
import PostList from "@/components/PostList.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { getSlug } from "@/utils/getSlug";

export async function getStaticPaths() {
  const allPosts: CollectionEntry<"blog">[] = (
    await getCollection("blog")
  ).filter((post) => {
    return post.data.tags && post.data.tags.length > 0;
  });

  let allUniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ]
    .filter((tag): tag is string => !!tag)
    .map((tag) => getSlug(tag));

  return allUniqueTags.map((tag) => {
    return {
      params: { tag },
      props: { tag },
    };
  });
}

const { tag } = Astro.props;

const tagPosts: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).filter(
  (post) =>
    post.data.tags && post.data.tags.some((t) => t && getSlug(t) === tag),
);

const tagName = titleCase(tag).replace(/-/g, " ");
---

<PageLayout title={tagName} socialDescription={`Blogposts about ${tagName}`}>
  <p>
    These are the blogposts I've tagged as <em>{tagName}</em>.
  </p>
  <PostList posts={tagPosts} showYears={true} />
</PageLayout>
