---
import { ViewTransitions } from "astro:transitions";
import siteData from "@/data/siteconfig.js";

const {
  title: siteTitle,
  description,
  url,
  author: { twitterUsername },
  repository,
  RSSFeed,
  sitemap,
  contentLicence,
} = siteData;

const { title: pageTitle, description: pageDescription } = Astro.props;

const currentURL = Astro.request.url;
---

<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta charset="utf-8" />
<meta name="description" content={pageDescription} />
<title>{pageTitle || siteTitle}</title>
<link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="me" href="https://mastodon.social/@_edjw" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content={twitterUsername} />

<!-- Open Graph -->
<meta property="og:url" content={currentURL} />

<!-- <meta property="og:image" content={previewImage} /> -->
<meta property="og:site_name" content={siteTitle} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS feed for Ed Johnson-Williams’ blog"
  href="/rss.xml"
/>

<ViewTransitions />

<script is:inline>
  document.addEventListener("astro:after-swap", () => {
    // handle theme switching
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
  });
</script>
