---
import "../styles/global.css";

import siteData from "../data/siteconfig.js";
const {
  title: siteTitle,
  description,
  url,
  author: { twitterUsername },
  repository,
  RSSFeed,
  sitemap,
  contentLicence,
} = siteData;

const { title: pageTitle, description: pageDescription } = Astro.props;

const currentURL = Astro.request.url;
---

<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta charset="utf-8" />
<meta name="description" content={pageDescription} />
<title>{pageTitle || siteTitle}</title>
<link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" key="twcard" />
<meta name="twitter:creator" content={twitterUsername} key="twhandle" />

<!-- Open Graph -->
<meta property="og:url" content={currentURL} key="ogurl" />

<!-- <meta property="og:image" content={previewImage} key="ogimage" /> -->
<meta property="og:site_name" content={siteTitle} key="ogsitename" />
<meta property="og:title" content={pageTitle} key="ogtitle" />
<meta property="og:description" content={pageDescription} key="ogdesc" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS feed for Ed Johnson-Williams’ blog"
  href="/rss.xml"
/>

<!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
