---
import siteData from "@/data/siteconfig";
const {
  author: { blueskyUsername, githubUsername, mastodonUsername },
  repository,
  RSSFeed,
  sitemap,
  contentLicence,
} = siteData;
---

<div class="border-t border-stone-200 pt-4">
  <div>
    <div class="mt-4 flex gap-x-4">
      <p>
        <a href=`https://github.com/${githubUsername}` rel="me">GitHub</a>
      </p>
      <p>
        <a href=`https://bsky.app/profile/${blueskyUsername}`>Blue Sky</a>
      </p>
      <p>
        <a href=`https://mastodon.social/@${mastodonUsername}`>Mastodon</a>
      </p>
    </div>
  </div>
  <div class="mt-4 flex flex-col gap-y-1">
    {
      repository && (
        <p class="my-2 pl-0">
          <a class="underline" href={`https://github.com/${repository}`}>
            See the code for this site
          </a>
        </p>
      )
    }
    {
      RSSFeed && (
        <p class="my-2 pl-0">
          <a class="underline" data-astro-reload href="/feed.xml">
            See the RSS feed for this site
          </a>
        </p>
      )
    }
  </div>
</div>

{
  sitemap && (
    <p class="hidden">
      <a href="/sitemap.xml">Sitemap</a>
    </p>
  )
}
<div>
  {
    contentLicence && (
      <p class="mt-6 mb-8 text-sm">
        Content on this website is licenced as
        <a href={contentLicence.link}>{contentLicence.text}</a>. That means you
        can copy, adapt, and redistribute any content on this site for any
        purpose providing you give credit, provide a link to the licence, and
        indicate if you made changes.
      </p>
    )
  }
</div>
