---
import SEO from "@/components/SEO.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

const {
  pageTitle,
  description: pageDescription,
  articleData,
  pageType,
  image,
} = Astro.props;
---

<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <SEO
      pageTitle={pageTitle}
      description={pageDescription}
      articleData={articleData}
      pageType={pageType}
      image={image}
    />
    <Font cssVariable="--font-jost" preload />
    <ClientRouter />
  </head>
  <body class="bg-white">
    <div
      class="container mx-auto grid min-h-screen max-w-4xl grid-rows-[auto_1fr_auto] px-6 py-8"
    >
      <Header />

      <main class="mt-0">
        <slot />
      </main>

      <footer class="mt-12 mb-8 max-w-prose">
        <Footer />
      </footer>
    </div>
  </body>
</html>
