---
import readingTime from 'reading-time'
import slugify from 'slugify'
import { titleCase } from "title-case";
import BaseLayout from "./BaseLayout.astro"
const {content: {title, date, tags, socialDescription, astro: {html}}} = Astro.props;

const formattedDate = new Intl.DateTimeFormat('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }).format(new
Date(date))

const postReadingTime = readingTime(html).text

const currentURL = Astro.request.url

---
<BaseLayout pageTitle={title} description={socialDescription}>
    <article class="prose h-entry dark:prose-light">
        <!-- h-entry things -->
        <div class="hidden">
            <a href={currentURL}></a>

            <time class="dt-published">{new Date(date).toUTCString()}</time>

            <!-- TODO: fix tags -->
<!--


            {

(tags.length > 0 ) &&

{tags.map((tag) =>
<a href={`/tags/${slugify(tag)}`}>
{titleCase(tag)}
</a>
)}

            }
            -->





            <a rel="author" href="https://edjohnsonwilliams.co.uk">Ed Johnson-Williams</a>
        </div>
        <!-- End of h-entry things -->

        <h2 class="-mt-0 p-name">
            {title}
        </h2>

        <section>
            <p class="my-1">
                <span>Published: </span>
                <time>{formattedDate}</time>
            </p>

            <p class="my-1">
                <span>Reading time: </span>
                {postReadingTime}
            </p>

            {
            (tags.length > 0) &&
            <p class="flex my-1">
                <span class='mr-1'>Tags: </span>
                <span class='flex space-x-2'>
                    {tags.map((tag) =>
                    <a href={`/tags/${slugify(tag)}`}>
                        {titleCase(tag)}
                    </a>
                    )}
                </span>
            </p>
            }



        </section>

        <div class="e-content">
            <slot />
        </div>
    </article>
</BaseLayout>