---
// import readingTime from 'reading-time'
import BaseLayout from "$layouts/BaseLayout.astro"

const {content: {title, date, tags, socialDescription, markdownBody, readingTime}} = Astro.props;
const formattedDate = new Intl.DateTimeFormat('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }).format(new Date(date))
const x = Astro.props
console.log(x)
---
<BaseLayout pageTitle={title} description={socialDescription}>
    <article className="prose h-entry dark:prose-light">
                <!-- h-entry things -->
                    <div className="hidden">
                       <!-- <a href="{{ page.url }}"></a>

                       <time className="dt-published">{new Date(date).toUTCString()}</time> -->

                       <!-- TODO: fix tags -->
                        <!-- {tags.map((tag, index) => (
                            <a key={index} className="p-category" href={`/tags/${slugify(tag)}`}>{titleCase(tag)}</a>
                        ))} -->

                        <a rel="author" href="https://edjohnsonwilliams.co.uk">Ed Johnson-Williams</a>
                    </div>
                  <!-- End of h-entry things -->

                    <h2 className="-mt-0 p-name">
                        {title}
                    </h2>

                    <section>
                        <p className="my-1">
                            <span>Published: </span>
                            <time>{formattedDate}</time>
                        </p>

                        <p className="my-1">
                            <span>Reading time: </span>
                            {readingTime}
                        </p>


                        <!-- {(tags.length > 0) &&

                            <p className="flex my-1">
                                <span className='mr-1'>Tags: </span>

                                <span className='flex space-x-2'>
                                    {tags.map((tag, index) => (
                                        <Link href={`/tags/${slugify(tag)}`} key={index}>
                                            <a>{titleCase(tag)}</a>
                                        </Link>
                                    ))}
                                </span>

                            </p>} -->

                    </section>

                    <div className="e-content">
                        <slot />
                    </div>
                </article>
</BaseLayout>
