---
import { titleCase } from "title-case";
import BaseLayout from "./BaseLayout.astro";
import EmailMe from "../components/EmailMe.astro";
import type { CollectionEntry } from "astro:content";
import { getSlug } from "../utils/getSlug";

type Props = CollectionEntry<"blog">["data"];

const { data } = Astro.props;

const { title, pubDate, tags, socialDescription } = data;

const formattedDate = new Intl.DateTimeFormat("en-GB", {
  day: "numeric",
  month: "long",
  year: "numeric",
}).format(new Date(pubDate));

const currentURL = Astro.request.url;
---

<BaseLayout pageTitle={data.title} description={data.socialDescription}>
  <article class="prose h-entry dark:prose-invert">
    <!-- h-entry things -->
    <div class="hidden">
      <a href={currentURL}></a>

      <time class="dt-published">{new Date(pubDate).toUTCString()}</time>

      <!-- TODO: fix tags -->
      <!--
            {
(tags.length > 0 ) &&
{tags.map((tag) =>
<a href={`/tags/${getSlug(tag)}`}>
{titleCase(tag)}
</a>
)}
            }
            -->

      <a rel="author" href="https://edjohnsonwilliams.co.uk"
        >Ed Johnson-Williams
      </a>
    </div>
    <!-- End of h-entry things -->

    <h2 class="-mt-0 p-name" transition:name="pageSubtitle">
      {title}
    </h2>

    <section>
      <p class="my-1">
        <span>Published:</span>
        <time>{formattedDate}</time>
      </p>

      {
        tags && (
          <p class="my-1 flex">
            <span class="mr-1">Tags: </span>
            <span class="flex space-x-2">
              {tags.map((tag: string) => (
                <a rel="prefetch" href={`/tags/${getSlug(tag)}`}>
                  {titleCase(tag).replace(/-/g, " ")}
                </a>
              ))}
            </span>
          </p>
        )
      }
    </section>

    <div class="e-content">
      <slot />
    </div>

    <!-- <EmailMe /> -->
  </article>
</BaseLayout>
